# Ignore all Buildroot compiled files
buildroot/output/

# Ignore the kernel source
buildroot/build/

# Ignore the kernel headers cache created by your driver build
custom_device_driver/*.o
custom_device_driver/*.ko
custom_device_driver/*.mod*
custom_device_driver/.tmp_versions/
